.card {
    margin: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    width:20%;
    transition: .5s;
}
.card a{
    color:#3a3838;
    text-decoration: none;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    margin-top:0px;
    box-shadow: 4px 4px 4px 4px #ccc;
}
.watch{
    width:250px;
}
.name{
    font-size: 1rem;
    margin-bottom: 10px;
}
.stars{
    margin-bottom:5px;
}
.price{
    font-size:1rem;
    margin-bottom:15px;
}
